---
- name: Create a Resource Group in Azure
  hosts: localhost
  connection: local
  gather_facts: no

  collections:
    - azure.azcollection

  tasks:
    - name: Create resource group
      azure.azcollection.azure_rm_resourcegroup:
        name: "RG-Groupe6"
        location: "polandcentral"
